*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.container{
    min-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.header{
    height: 100vh;
    background: url(../images/Прямоугольник\ 1.jpg) no-repeat center /cover;
}


.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu{
    display: flex;
}
.header__menu-link{
    color: black;
    font-family: Arial;
    font-size: 18px;
    margin-left: 40px;
}
.header__menu-link:hover{
    color: #7f9bd8;
    transition: 300ms;
}

.header_content-title{
    font-size: 60px;
    color: cornflowerblue;
    text-transform: uppercase;
    font-family: arial;
}
 .header__content-text{
     color: cornflowerblue;
     font-size: 16px;
     min-width: 600px;
     width: 100%;
     margin: 30px 0;
     font-family: arial;
 }
 
 .header__content_btn{
     width: 100%;
     display: flex;
     justify-content: center;
     background: coral;
     padding: 20px 0;
     color: cornsilk;
     border-radius: 5px;
 }
 
 .header__content{
     flex-grow: 1;
     display: flex;
     flex-direction: column;
     justify-content: center;
 }
 
 .header__top{
     display: flex;
     flex-direction: column;
     height: 100%;
 }